
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

// WRAPPER LIMIT
.off-canvas-wrapper {
	max-width: 40rem;
	margin: 0 auto;
}

.fl {float: left;}
.fr {float: right;}
.fwd {width: 100%;}
.half {width:50%;float: left;}
.third {width:33.3%;float: left;&:nth-child(2){width: 33.4%}}
.clr:after {clear: both;content: ".";display: block;height: 0;overflow: hidden;visibility: hidden;}
.cbt {clear: both;}
.posr {position: relative;}
.fblock {margin-bottom: 10px;}

ul, ul ul, ol ul, ul ol, ol ol {margin-left: 0;}
ul li {list-style: none;}
ul.dotted {li {list-style-type:disc;list-style-position: inside;}}
small {font-size: $font-size-small;}

:focus {outline: none;}
.gap-main {margin:20px 0;}
.db, .dblock {display: block;}

.red {color:$red;}
.blue {color:$blue;}
.orange {color:$orange;}
.gray {color: $dark-gray;}
.fwb{font-weight: bold;}
.supersmall {font-size: .8rem;}
.superbig {font-size: 1.9rem;}
.upcase {text-transform: uppercase;}
.tac {text-align: center;}
.tal {text-align:left;}
.tar {text-align:right;}
table.small-text {font-size: $font-size-small;}

.bb10 {border-bottom: $code-border;padding-bottom: 10px;margin-bottom: 10px;}
.shown {display: block !important;}
.hidden {display: none !important;}

.elipsis {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

select, input {border-radius: 4px;}
textarea {resize: none;}
select,[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
margin-bottom: 0;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
// MARGIN
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}

// PADDING
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}
.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;}
.pr10 {padding-right: 10px;}
.pr20 {padding-right: 20px;}
.pl10 {padding-left: 10px;}
.pl20 {padding-left: 20px;}
.inp10 {padding: 10px;}
.inp20 {padding: 20px;}

// BORDER
.bdl {border-left:$code-border;}
.bdr {border-right:$code-border;}

// BUTTON 
.button {
    border-radius:4px;
    &.bordered-btn {
        color:$black;
        border: $code-border;
        background:$lighter-gray;
        &.white-btn {background-color: white;border-color: $primary-color;color:$primary-color}
    }
}

//OFF-CANVAS
.js-off-canvas-exit {z-index: 10;}
.off-canvas {background:white;}

//SLICK ARROW
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;

}

// USE ICON FONT

.slick-arrow:before,
a.has-child:after,
a.back:before,
.with-right-arrow:after
 {
	font-family: "belanjaqu" !important;
	  font-style: normal !important;
	  font-weight: normal !important;
	  font-variant: normal !important;
	  text-transform: none !important;
	  speak: none;
	  line-height: 1;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
}
a.has-child:after {
    content: "\62";
}
a.back:before {
    content: "\66";
}
.slick-prev:before {
	content: "\61";
}
.with-right-arrow:after,
.slick-next:before {
	content: "\62";
}
body.is-reveal-open {
    position: fixed;
    .reveal.full {position: fixed;overflow:auto;}
    @include breakpoint(40rem) {
        left: 50% !important;
        margin-left: -20rem !important;
        max-width: 40rem;
        .page-container {
            width: 40rem;
            margin: 0 auto;
            position: relative;
        }
        .off-canvas-content {
            width: 40rem;
            position: absolute;
            top: 0;
            left: 0;
        }
        .reveal.full {
            left: 50% !important;
            margin-left: -20rem !important;
            max-width: 40rem;
        }
    }
}
.off-canvas.position-left {
    max-height: none;
    overflow-y: visible;
}
.off-canvas-content, .off-canvas-content {
    min-height: 100vh;
}

// SPRITES

$sprites-size: 150px 50px;
.sprites {
    background:url(../images/sprites-bq.png);
    background-size:$sprites-size;
    display: inline-block;
    &.sp-bag {width: 50px;height: 50px;background-position: 0 0;}
    &.sp-wallet {width: 50px;height: 50px;background-position: -50px 0;}
    &.sp-wallet2 {width: 50px;height: 50px;background-position: -100px 0;}
}


// VARIABLES

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// REVEAL FIX
.reveal.full {
    left: 0 !important;
    width: 100% !important;
    right: 0 !important;
    top: 0 !important;
    margin-top: 0 !important;
}

.visuallyhidden {
    position: absolute!important;
    overflow: hidden!important;
    display: block!important;
    width: 1px!important;
    height: 1px!important;
    margin: -1px!important;
    padding: 0!important;
    border: 0!important;
    clip: rect(0 0 0 0)!important;
}