@charset "UTF-8";

@font-face {
  font-family: "belanjaqu";
  src:url("../fonts/belanjaqu.eot");
  src:url("../fonts/belanjaqu.eot?#iefix") format("embedded-opentype"),
    url("../fonts/belanjaqu.woff") format("woff"),
    url("../fonts/belanjaqu.ttf") format("truetype"),
    url("../fonts/belanjaqu.svg#belanjaqu") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "belanjaqu" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ic-"]:before,
[class*=" ic-"]:before {
  font-family: "belanjaqu" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-chevron-left:before {
  content: "\61";
}
.ic-chevron-right:before {
  content: "\62";
}
.ic-chevron-up:before {
  content: "\63";
}
.ic-chevron-down:before {
  content: "\64";
}
.ic-checkmark:before {
  content: "\65";
}
.ic-arrow-left:before {
  content: "\66";
}
.ic-arrow-right:before {
  content: "\67";
}
.ic-arrow-down:before {
  content: "\68";
}
.ic-arrow-up:before {
  content: "\69";
}
.ic-search:before {
  content: "\6b";
}
.ic-hamburger:before {
  content: "\6c";
}
.ic-product:before {
  content: "\6d";
}
.ic-order:before {
  content: "\6e";
}
.ic-store:before {
  content: "\6f";
}
.ic-wallet:before {
  content: "\70";
}
.ic-category:before {
  content: "\71";
}
.ic-list:before {
  content: "\72";
}
.ic-account:before {
  content: "\73";
}
.ic-chat:before {
  content: "\74";
}
.ic-share:before {
  content: "\75";
}
.ic-phone:before {
  content: "\79";
}
.ic-ftw:before {
  content: "\76";
}
.ic-fb:before {
  content: "\77";
}
.ic-ig:before {
  content: "\78";
}
.ic-wa:before {
  content: "\7a";
}
.ic-line:before {
  content: "\41";
}
.ic-gplus:before {
  content: "\42";
}
.ic-notif:before {
  content: "\43";
}
.ic-log-out:before {
  content: "\44";
}
.ic-log-in:before {
  content: "\45";
}
.ic-mail:before {
  content: "\46";
}
.ic-sign:before {
  content: "\48";
}
.ic-blog:before {
  content: "\47";
}
.ic-help:before {
  content: "\49";
}
.ic-cart:before {
  content: "\4a";
}
.ic-close:before {
  content: "\6a";
}
.ic-cat-fashion:before {
  content: "\4d";
}
.ic-cat-hp:before {
  content: "\4e";
}
.ic-cat-komp:before {
  content: "\4f";
}
.ic-cat-ert:before {
  content: "\50";
}
.ic-cat-tv:before {
  content: "\51";
}
.ic-cat-foto:before {
  content: "\52";
}
.ic-cat-keskec:before {
  content: "\53";
}
.ic-cat-rt:before {
  content: "\54";
}
.ic-cat-hobi:before {
  content: "\55";
}
.ic-cat-buku:before {
  content: "\56";
}
.ic-cat-hobi-1:before {
  content: "\57";
}
.ic-cat-bayi:before {
  content: "\58";
}
.ic-cat-kantor:before {
  content: "\59";
}
.ic-cat-voucher:before {
  content: "\5a";
}
.ic-cat-film:before {
  content: "\30";
}
.ic-cat-makanan:before {
  content: "\31";
}
.ic-cat-oto:before {
  content: "\32";
}
.ic-search-thin:before {
  content: "\4b";
}