// 0. GLOBAL
// ---------

body {background:$light-gray;}
.off-canvas-wrapper {background:white;}

// 1. Header
// ---------

header {
	background:$primary-color;
	padding: 10px 0;
	a, a:focus {color:white;}
	.ic-hamburger,  .ic-cart {font-size: 1.5rem;}
	.ic-search-thin, .ic-account {font-size: 1.3rem;}
	.hamburger {
		@include hamburger(white, $light-gray, 18px, 16px, 2px, 3);
		margin-right: 5px;
	}
	.header-login-link, .header-search-toggle {
		margin-top: 3px;
	}
	.search-modal {
		padding: 0;
		margin-bottom: 0;
		
		.input-search-box {
			width: 100%;
			input {
				padding: .5rem .7rem;
				font-size: 1rem;
				height: 32px;
				line-height: 32px;
				width: 100%;
				border: none;
				@include border-radius(6px 0 0 6px)
			}
		}
		.submit-search {
			position: relative;
			background:#ededed;
			@include border-radius(0 6px 6px 0);
			button {
				height: 32px;
    			width: 44px;
    			.icon {font-size: 16px; color: #999}
			}
		}
	}
}

.block-add,.block-fill {
	display: table-cell;
    padding: 0;
    vertical-align: top;
}
.block-fill {
	width: 100%;
}

.logo {
	width: 100px;height: 19px;background:url(../images/logo.png);display: block;
	background-size:  100px 19px;
	margin: 7px auto 0;
}
.slide-with-arrow {
	position: relative;
	.slick-arrow {position: absolute;height: 100%;width: 40px;z-index: 1;text-shadow: 1px 1px 2px rgba(0,0,0,.8)}
	.slick-prev {left: 0;}
	.slick-next {right: 0;}
}
.slide-with-dotts {
	margin-bottom: 50px;
}
.slick-dots {
	position: absolute;
	margin-top: 10px;
	text-align: center;width: 100%;
	li {
		display: inline-block;
		margin: 0 2px;
		button {width: 10px;height: 10px;border-radius:10px;display: block;background-color:$dark-gray;text-indent: -9999em;}
		&.slick-active {button{background-color: $primary-color;}}
	}
}
.search-modal {
	padding-top: 40px;
	input {
		-webkit-appearance:none;
		-moz-appearance:none;
		border: none;
		box-shadow: none;
		border-bottom: $code-border;
		padding-bottom: 20px;
		font-size: 1.2rem;
		&:focus {
			border: none;
			box-shadow: none;
			border-bottom: $code-border;
		}
	}
}
.suggestion-box {
	margin-top: 20px;
	ul li {
		border-bottom: $code-border;
		border-color: #F1F1F1;
		padding: 5px 0;
		a {
			padding: 5px 0;
			display: block;
			small {color:$dark-gray;}
		}
	}
}

// 2. Main Content
// ---------

.main-banners {
	// margin-bottom: 20px;
}
.main-content {
	// background:transparent url('image.png') left top no-repeat;
}
.bq-infographic {
	background:#f5f5f5;
	text-align: center;
	padding: 20px 0;
	.mobile-infographic {
		padding: 15px 10px;
		background:white;
		@include box-shadow (0,1px,8px,rgba(0,0,0,.1));
	}
	.items {
		display: inline-block;
		vertical-align: top;
		width: 32%;
		font-size: 13px;
		padding: 0 1%;
		// margin: 0 1%;
		border-right: 1px solid #f8f8f8;
		&:last-child{border: none;}
		.sprites {
			width: 50px;
			height: 50px;
			display: block;
			margin: 0 auto;
		}
		p {color: #676767;margin: 10px 0 0;line-height: 1.5;height: 38px;}
	}
}
.mobile-top-banner, .mobile-inside-banner {
	background:#f5f5f5;
}
.full-banner {
	padding: 5px;
}
.halfsplit-banner {
	a {display: block;width: 50%;float: left;padding: 5px;}
}
.mobile-inside-banner {
	padding: 20px 5px;
	margin: 10px 0 0 0;
}
.content-marketing {
	margin-bottom: 20px;
}
.cm-title {
	padding: 10px 15px;
	margin-bottom: 10px;
	font-weight: bold;
	height: 44px;
	overflow: hidden;
	border-bottom:1px solid $primary-color;
	position: relative;
	width: 100%;
	span {
		background:$primary-color;
		color:white;
		display: inline-block;
		height: 44px;
		line-height: 44px;
		position: absolute;
		top: 0;
		left: 0;
		padding-left: 20px;
		padding-right: 20px;
		&:after {
			content: "";
			height: 44px;
			width: 40px;
			display:inline-block;
			position: absolute;
			right: -40px;
		    border-left: 30px solid $primary-color;
		    border-top: 45px solid transparent;
		}
	}
	a {
		color:$primary-color;
		height: 44px;
		line-height: 44px;
		padding: 0 15px;
		position: absolute;
		right: 0;
		top:0;
		text-decoration: underline;
	}
}
.fancy-title {
	padding: 10px 15px;
	margin: 0 0 10px 0;
	font-size: 28px;
	color:#5f5f5f;
	letter-spacing: -2px;
	text-align: center;
	background:whitesmoke;
	.word-wrapper {display: inline-block;position: relative;margin-left: -40px;}
	.ft-1 {
		width: 114px;
		height: 36px;
		background:whitesmoke;
		.text {position: absolute;z-index: 101;top: -10px;}
		&:after {
			content: "";
			position: absolute;
			top: -7px;
			right: -41px;
			border-left: 42px solid whitesmoke;
			border-bottom: 50px solid transparent;
			z-index: 100;
		}
	}
	.ft-2 {
		font-weight: bold;
		margin-left: 6px;
		color:$primary-color;
		top: 2px;
	}
	.line {
		position: absolute;width: 1px;background:#c7c7c7;height: 60px;right: -17px;top: 50%;margin-top: -25px;
		-ms-transform: rotate(40deg); /* IE 9 */
    	-webkit-transform: rotate(40deg); /* Safari */
    	transform: rotate(40deg);
	}
}
.under-title {
	padding: 10px 15px;
	background-color: whitesmoke;
	text-align: center;
	span {
		letter-spacing: -1px;
		font-size: 24px;
		&:first-child {}
		&:last-child {font-weight: bold;margin-left: -2px;}
	}	
}
.product-listing{
	.product-title {
		font-weight: bold;
		font-size:$font-size-small;
		color: $black;
	}
	span {color: $primary-color;}
	span.striked {font-size: $font-size-smaller;}
	span.discount {font-size: $font-size-smaller;}
	.item {margin: 0 2px;position: relative;}
}
.product-price {
	span.striked {color: $dark-gray;text-decoration:line-through;}
	span.discount {color: $red;}
}
.product-listing-grid {
	.product-title {
		padding-right: 10px;
		height: 45px;
		overflow: hidden;
		margin-top: 5px;
	}
	.product-price {
		span {display: block;}
		span.striked {display: inline;}
		span.discount {display: inline;}
	}
	.item {
		display: inline-block;
		width: 48%;
		margin-bottom: 10px;
	}
}
.product-listing-list {
	// &:after {clear: both;content: ".";display: block;height: 0;overflow: hidden;visibility: hidden;}
	.item {
		width: 100%;clear: both;float: left;margin-bottom: 10px;
		border-bottom:$code-border;
		padding: 10px 0;
	}
	.img-box {
		width: 80px;
		float: left;
	}
	.desc-box {
		float: left;
		margin-left: 10px;
	}
}
.prod-cta {
	float: left;
	width: 100%;
	text-align:center;
	padding: 10px 0 0 0;
	margin-top: 10px;
	border-top: $code-border;
	a {display: inline-block;padding: 10px 5px;margin-right: 5px;font-size: $font-size-small;}
}

.blocked-content {
	.cm-title {
		border-top: 1px solid #CAD6D5;
		border-bottom: 1px solid #CAD6D5;
		background-color: #D1E2E1;
	}
}

.ngabuburit {
	$ngabuburit-theme-col:#139179;
	.cm-header {
		position: relative;
		height: 100px;
		background:$ngabuburit-theme-col;
		margin-bottom: 10px;
		.cm-section-title {
			position: absolute;
			left: 20px;
			bottom:20px;
			color: white;
			font-weight: bold;
			font-size: 20px;
		}
		.mosq-bg {
			height: 112px;
			width: 120px;
			background:url(../images/bg-ngabuburit.png) no-repeat;
			position: absolute;
			bottom: 0;
			right: 10px;
		}
	}
	.cm-footer {
		height: 80px;
		margin-top: 10px;
		background:$ngabuburit-theme-col;
		text-align:center;
		position: relative;
		a {color: white;padding: 5px 15px;display: inline-block;margin-top: 10px;text-decoration: underline;}
		svg {position: absolute;bottom: 0px;left: 0;}
	}
}

.cm-hotlist {
	.cm-title {
		$hot-theme-col:#AD2B16;
		border-bottom: 1px solid $hot-theme-col;
		span {
			background:$hot-theme-col;
			&:after {
			    border-left: 30px solid $hot-theme-col;
			}
		}
		a {
			color:$hot-theme-col;
		}
	}
}
.cm-terbaru {
	.cm-title {
		$terbaru-theme-col:$primary-color;
		border-bottom: 1px solid $terbaru-theme-col;
		span {
			background:$terbaru-theme-col;
			&:after {
			    border-left: 30px solid $terbaru-theme-col;
			}
		}
		a {
			color:$terbaru-theme-col;
		}
	}
}
.cm-promo {
	.cm-title {
		$promo-theme-col:#fc8e7c;
		border-bottom: 1px solid $promo-theme-col;
		span {
			background:$promo-theme-col;
			&:after {
			    border-left: 30px solid $promo-theme-col;
			}
		}
		a {
			color:$promo-theme-col;
		}
	}
}
.cm-cashback {
	.cm-title {
		$cashback-theme-col:#7a3563;
		border-bottom: 1px solid $cashback-theme-col;
		span {
			background:$cashback-theme-col;
			&:after {
			    border-left: 30px solid $cashback-theme-col;
			}
		}
		a {
			color:$cashback-theme-col;
		}
	}
}

// listing
.section-block {
	padding: 20px 0;
}
.top-filter-sort {
	background:$lighter-gray;
	padding: 5px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #DADADA;
	a {
		display: block;color: $black;background:white;border-radius: 4px;
		border:1px solid #DADADA;height: 39px;line-height: 36px;
	}
	.inner {padding:2px;}
	select {margin-bottom: 0;border:1px solid #DADADA}
	.third {position: relative;}
	.check-sticker {position: absolute;top: -1px;right: -1px;z-index: 10;}
}

// DETAIL PRODUCT
.detail-product-page {
	.slick-dots {
		position: relative;
		margin-bottom: 0px;
	}
	.slide-with-dotts {
		margin-bottom:10px;
	}
}
.pdp-content {
	h6 {font-weight: bold;}
	.product-price {
		padding-bottom: 20px;
		border-bottom: $code-border;
		span:first-child {display: block;font-size: 1.2rem;margin-bottom:5px;}
		.striked, .discount {font-size: .9rem;}
		.discount {margin-left: 5px;}
	}
	.pdp-variant {
		.fblock {margin-bottom: 10px;}
		.fblock:last-child {margin-bottom: 0px;}
		.label-area {width: 40%;display: inline-block;text-align: left;}
		.input-area {width: 54%;display: inline-block;text-align: right;}
		select {margin-bottom: 0;}
	}
}
.pdp-action {
	background-color: $lighter-gray;
	padding: 10px 0;
	.button {
		margin-bottom: 10px;
		text-transform: uppercase;
		&:last-child {margin-bottom: 0;}
	}
}
.pdp-spec {
	border-bottom: $code-border;
	ul {
		li {
			width: 100%;display: inline-block;
			.fl {width: 35%;color:$dark-gray}
			.fr {width: 60%;text-align: right;}
		}
	}
	.product-description {
		position: relative;
		padding-bottom: 40px;
		&.teaser {
			height: 240px;
			overflow: hidden;
			.display-toggle {
				height: 100px;
				background-image: url(../images/grd-bg.png);
				background-repeat: repeat-x;
				a {
					margin-top: 60px;
				}
			}
		}
	}
	.display-toggle {
		background-image:none;
		position: absolute;
		bottom: 0;
		height: 40px;
		width: 100%;
		a {
			height: 20px;
			margin-top: 10px;
			display: block;
		}
	}
}
.pdp-share {
	// background:$lighter-gray;
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
	.link-group {
		text-align: center;
		a {
			display: inline-block;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			margin:5px;
			color:white;
			border-radius: 6px;
			&:before {
				font-family: "belanjaqu" !important;
				font-style: normal !important;
				font-weight: normal !important;
				font-variant: normal !important;
				text-transform: none !important;
				speak: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-size: 1.6em;
				display: inline-block;
				margin-top: 8px;
			}
		}
	}
}
.facebook-style {
	background-color: #3b5998;
	&:before {
		content: "\77";
	}
}
.twitter-style 	{
	background-color: #00aced;
	&:before {
		content: "\76";
	}
}
.gplus-style 	{
	background-color: #dd4b39;
	&:before {
		content: "\42";
	}
}
.line-style 	{
	background-color: #21CE26;
	&:before {
		content: "\41";
	}
}
.wa-style 		{
	background-color: #189D0E;
	&:before {
		content: "\7a";
	}
}

.pdp-seller {
	margin-bottom: 20px;
	background:$lighter-gray;
	border-bottom: 1px solid $light-gray;
	.info {display: inline-block;vertical-align: middle;}
	.store-name {font-weight: bold;}
	.store-loc {
		color:$dark-gray;
		span {
			margin-top: 5px;
			&:before {
				color: $primary-color;
				font-size: 17px;
				display: inline-block;
				margin-top: -5px;
    			vertical-align: middle;
    			margin-right: 5px;
			}
		}
	}
	.store-contact {
		margin-top: 20px;
		padding: 10px;
		border-radius: 10px;
		border: $code-border;
		span {
			display: block;
			height: 28px;
			&:before {font-size: 26px;}
		}
	}
}
.pdp-comment {
	table {}
	tbody {border:none;}
	tr, tr:nth-child(even) {background-color:transparent;border-bottom: $code-border;}
	tr:last-child {border-bottom: none;}
	td {padding: 10px 5px 10px 0;font-size: $font-size-small;vertical-align: top;}
	.ava {display: block;float: left;width: 50px;}
	.comment-name {font-weight: bold;}
	p {margin-top: 5px;margin-bottom:5px;}
	.time-post {font-size: $font-size-smaller;float: right;}
	.main-title a {display: block;}
}
.main-title {
	text-align: center;
	margin: 20px 0;
	padding-bottom: 10px;
	border-bottom: $code-border;
}
.komentar-modal {
	padding-bottom: 60px;
	.fblock {
		input {padding: 10px 80px 10px 10px;border-bottom: none;font-size: 1rem;}
	}
}
.fixed-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 40rem;
	margin-left: -16px;
	border-top: $code-border;
	padding: 10px;
	background:$light-gray;
	z-index: 10;
}
.fixed-bar-bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	.fixed-wrapper {
		width: 100%;
		max-width: 40rem;
		margin: 0 auto;
	}
}

// ProdukQu
.covering-top {
	position: relative;
	padding: 0;
	background:white;
	.half:first-child {border-right: $code-border;}
	.half {
		&.forcefull {
			position: absolute;
			width: 100%;
			padding-right:80px;
		}
	}
	.fullcancel {
		position: absolute;
		right: 10px;
		top:50%;
		margin-top: -18px;
		padding: 0;
		border:0;
		display: inline;
		color:$primary-color;
	}
	input, select {
		border:none;
		height: 50px;
		&:focus {
			border:none;
			box-shadow: none;
		}
	}
	select {padding-right: 20px;}
}

// Store Page

.store-desc {
	margin-top: -35px;
	.ava {
		width: 100%;
		text-align: center;
		img {width: 70px;height: 70px;border-radius: 70px;}
	}
	.store-name {
		font-size: $font-size-big;
		text-align: center;
		font-weight: bold;
		margin-top: 10px;
	}
	.store-info {
		text-align: center;
		margin: 10px 0;
		div {display: inline-block;margin: 0 10px;color:$dark-gray}
	}
	.store-stat {
		margin: 20px 0 0;
		padding: 10px 0;
		border-top: $code-border;
		border-bottom: $code-border;
		div {text-align: center;}
		.number {font-weight: bold;}
		.legend {font-size: $font-size-smaller;color:$dark-gray;text-transform: uppercase;}
		// a {color: $black;}
	}
	.store-cta {
		border-bottom: $code-border;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 20px;
		.button {margin-bottom: 0;}
		.half {padding: 0 10px;}
		a {background-color: white;color: $primary-color}
	}
}
.store-contact {
	padding: 20px 0;
	.link-group {
		padding: 10px 0;
		background:$lighter-gray;
	}
}

// ACCOUNT PAGE
.acc-desc {
	margin: 0;
	.acc-header {
		background:$primary-color url('../images/acc-bg.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		padding: 20px 0;
		text-align: center;
		.ava {margin: 0;width: auto}
	}
	.store-name {
		color: white;
		text-shadow: 2px 2px 2px rgba(0,0,0,.4);
	}
	.store-stat {
		border-top: none;
		padding-top: 0;
	}
}
.block-header {
	background:$lighter-gray;
	padding: 10px 15px;
	margin-bottom: 10px;
	&.white-block {
		background-color:white;
	}
}
.with-button {
	input {
		padding-right: 90px;
	}
}
.inside-input-btn {
	position: absolute;
	top:50%;
	margin-top: -17px;
	right:5px;
	background:white;
	padding: 5px;
}

// LOGIN PAGE
.login-separator {
	padding: 10px 20px 20px 20px;
	text-align: center;
	position: relative;
	span {display: inline-block;background:white;position: relative;z-index: 100;padding: 0 20px;}
	&:after {
		content:"";
		width: 100%;
		height: 1px;
		display: block;background:#ededed;
		position: absolute;
		top: 50%;
		margin-top: -5px;
	}
}
.other-login-method {
	a {margin: 0 0 10px;}
	[class^="ic-"] {font-size: 24px;position: absolute;left: 0;top: 50%;margin-top:-12px;}
	.text {display: inline-block;position: relative;padding-left: 30px;}
	.btn-fb {background-color:rgb(78, 101, 169);height: 40px;}
	.btn-paytren {
		background-color:$orange;height: 40px;padding: 0;
		span {vertical-align: middle;}
		.text {padding-left: 0;}
	}
	.l-paytren {
		background:url('../images/paytren.png');
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
		display: inline-block;
	}
}
.registration-link {
	margin-top: 20px;
	padding-top: 20px;
	border-top: $code-border;
	.btn-daftar {background-color:$yellow;color: $black}
}

// DOmpetqu
.saldo-sum {
	padding: 20px 0;
}

// Buku Alamat
.block-alamat {
	p {margin: 0;}
	font-size: $font-size-small;
	margin: 20px 0;
}

// Push Category
.cat-list-home {
	.cm-title {
		a {color:#A75300;text-decoration: underline;}
	}
	.under-title {padding-top: 20px;}
	.see-all {padding: 5px 20px;display: block;text-align: center;}
	ul {
		margin-top: 25px;
		padding: 10px 15px 0 ;
		li {
			float:left;
			width: 33%;
			text-align: center;
			border-right: 1px solid whitesmoke;
			&:nth-child(3n+3) {border-right: none;}
			&:nth-child(-n+3) {border-bottom: 1px solid whitesmoke;}
			a {
				padding: 10px 5px 5px 5px;
				display: block;
				.icon {
					width: 50px;height: 50px;display: block;margin: 0 auto;margin-bottom: 10px;
					i {font-size: 42px;color: $primary-color;}
				}
				p {margin: 10px 0 5px;line-height: 1.5;color: $black;height: 48px;}
			}
		}
	}
}
.cat-list {
	ul {
		li {
			a {color: $black;}
			a.has-child:after {position: absolute;right: 10px;top:50%;margin-top:-6px;color:$dark-gray}
			a.back {padding-left: 30px;color:$primary-color;}
			a.back:before {left:10px;}
			&.top-list {background:$light-gray;}
			&.blocked-li {padding: 10px 15px;border-bottom: $code-border;}
			.icon {color: $primary-color;font-size: 24px;display: block;float: left;margin-right: 10px;margin-top: -3px;}
		}
	}
}
.bordered-list {
	li {
		a {display: block;padding: 10px 15px;color: $black;border-bottom: $code-border;position: relative;}
		a.with-right-arrow:after {position: absolute;right: 10px;top:50%;margin-top:-6px;color:$dark-gray}
	}
}
.breadcrumbs-nav {
	padding: 10px 0;
	background:$lighter-gray;
}
a.back {padding-left: 20px;position: relative;}
a.back:before {position: absolute;top:50%;margin-top: -7px;left:0px;}

.check-sticker {
	background:$primary-color;
	width: 16px;height: 16px;
	border-radius: 16px;
	text-align: center;
	.icon {color:white;display: inline-block;vertical-align: middle;font-size: 12px;margin-top: -8px;}
}
.pagination {
	padding: 10px 0;
	margin-top: 20px;
	a {
		background:$light-gray;border:$code-border;width: 40px;height: 40px;display: block;
		text-align: center;
		span{line-height: 36px;}
	}
	div {line-height: 40px;color: $dark-gray;}
}

// KELOLA TOKO
.url-block {
	.url-prev {
		margin: 0 0 10px 0;color: $dark-gray;
		.toko-name-url {color: $black;font-weight: bold;}
		.icon{color: $black;}
	}
}
.location-block {
	select {margin-bottom:10px;}
}
.role-toko {
	ul {margin-top: 20px;margin-bottom: 40px;}
	li {
		max-width: 60px;
		margin-right: 10px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		.ava, img {margin: 0;}
		p {line-height: 1;margin: 0}
		&.add-more {
		}
	}
}
.role-search {
	.nama, .ava, .select-role {display: inline-block;vertical-align:middle;}
	.select-role {float: right;width: 50px;text-align: center;margin-bottom: 0;margin-top: 12px;}
	.nama {max-width: 130px;}
}
.change-image {
	position: absolute;
	top: -5px;right: -10px;
	background:url(../images/camera.png) no-repeat center;
	background-size: 20px auto;
	display: block;
	width: 20px;
	height: 20px;
	padding: 20px;
	border:1px solid $orange;
	border-radius: 40px;
	background-color:rgba(255,255,255,.4);
}
.align-middle {
	img {    
	vertical-align: middle;
    max-width: 90%;
    max-height: 100%;
	}
	.img-helper {display: inline-block;height: 100%;vertical-align: middle;}
}

// PASANG IKLAN
.add-product {
	.block-header {
		margin: 20px 0;
		&:first-child {margin-top: 0;}
	}
	.submit-group {margin-top: 60px;}
	.stock-input {margin-bottom: 20px;}
}
.product-img-upload {
	padding: 0 0 10px 0;
	.img-block {
		position: relative;
		border:1px solid $primary-color;
		display: inline-block;
		width: 80px;
		height: 80px;
		text-align: center;
		vertical-align: middle;
		margin: 10px 5px 5px 0;
		button {
			top: -10px;
			right: -5px;
			background:white;
			border: 1px solid $primary-color;
			border-radius: 28px;
			span {width:26px;height: 26px;display: block;line-height: 26px;}
		}
	}
	.add-one {
		display: inline-block;
		border:1px solid $orange;
		margin: 10px 5px 5px 0;
		.upload-trigger {
			width: 78px;
			height: 78px;
			padding: 5px;
			display: block;
			text-align: center;
		}
		img {
			width: 40px;
			height: auto;
		}
	}
}
.input-group {
	margin-bottom: 0;
	.input-group-label {background-color: white;}
}
.harga-block {
	.checkbox-styling {
		margin: 10px 0 0 0;text-align: right;
		input {margin-bottom: 0;}
	}
}
.variant-wrapper {
	.variant-box {
		padding: 10px 0;
		background-color: $lighter-gray;
		border-bottom:$code-border;
		&:first-child {border-top: $code-border;}
		.var-title {margin: 10px 0 20px;}
	}
}
.reveal.kat-modal {
    padding: 0;
    .close-button {font-size: 1rem;color: $primary-color;top: 1rem}
    span.list {
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid #cacaca;
        position: relative;
    }
}
span.selected-cat-parent {
    color: $dark-gray;  
}

// SUCCESS PAGE
.success-message {
	text-align: center;
	padding: 20px 0px;
	h3 {margin-top: 20px;font-weight: bold;}
}

// ORDER LIST
.tabs.top-tabs {
	margin: 0;
	background-color:$primary-color;
	border:none;
	position: relative;
	.tabs-title {
		a {
			color: white;
			font-size: 1rem;
			&:focus {background-color:$primary-color;}
			&:hover {background-color:$primary-color;}
			&[aria-selected='true'] {background-color:$primary-color;}
		}
		&.is-active:after {
			content: "";
			width: 100%;
			height: 5px;
			display: block;
			background-color: $orange;
		}
	}
	.tabs-title>a:focus, .tabs-title>a[aria-selected='true'] {background-color:$primary-color;}
}
.order-page {
	.tabs-panel {
		padding-left: 10px;
		padding-right: 10px;
	}
	.order-filter {
		margin-bottom: 20px;
	}
	.block-header {
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		background-color: #fff;
	}
}
.order-list {
	width: 100%;
	font-size: $font-size-smaller;
	li,.order-box {
		margin-bottom: 10px;
		border:1px solid #f1f1f1;
	}
	.list-header, .list-footer {
		padding: 10px;
	}
	.list-header {
		background:$lighter-gray;
		border-bottom: 1px solid #f1f1f1;
	}
	.list-footer {
		border-top: 1px solid #f1f1f1;
	}
	.list-body {
		padding: 0 5px	;
	}
	.img-box {
		width: 60px;
		margin-right: 5px;
	}
	.desc-box {
		p {margin: 0;}
	}
	.item {
		border-bottom: 1px solid #f1f1f1;
		padding: 10px 0;
		&:last-child {border-bottom: none;}
	}
	.qtt-box {width: 60px;}
	img {width: 100%;height: auto;}

	&.order-detail {
		padding: 20px 0;
		.list-header {background-color: #fff;}
		p {
			margin: 0;
			&.title-top {margin: 5px 0;}
		}
		small {font-size: 0.8rem;}
	}
	.table-price {
		margin-bottom: 10px;
	}
	.link-group {
		margin-top: 20px;
		.half {padding: 0 5px;}
	}
}

// CART PAGE
.cart-page {
	.white-block {
		margin-bottom: 0;
		padding: 15px;
		color: $dark-gray;
	}
}
.cart-list{
	font-size:1rem;
	.img-box {
		margin-right: 10px;
		width: 80px;
	}
	.qtt-box{
		width: 80px;
		margin-left: 10px;
		text-align: center;
		input{
			width: 40px;margin: 0 auto;
			text-align: center;
			height: 35px;
		}
		.increment-btn {
			display: inline-block;
			width: 40px;
			height: 25px;
			text-align: center;
			line-height: 20px;
			margin: 0 5px 2px;
			background-color:$light-gray;
			bottom: $code-border;
		}
	}
	.desc-box {
		p {font-size:$font-size-small;}

	}
	.list-footer {
		.total-sum {padding: 10px 0;margin-bottom: 10px;border-bottom: $code-border;}
	}
}
.cart-back {
	border-top: $code-border;
	padding-top: 20px;
}

// CHECKOUT PAGE

.input-radio {
	position: relative;
	input {position: absolute;top: 50%;margin-top: -10px;}
	label {padding: 0 10px 0 20px;width: 100%;}
	.input-wrap {position: relative;display: inline-block;}
}
.small-text {font-size:$font-size-small;}
.smaller-text {font-size:$font-size-smaller;}
.invoice-sum {padding:10px 5px;margin-top: 20px;margin-bottom: 20px;}

.bordered-row {
	margin:0;
	padding: 0;
	.row-item {
		display: block;padding: 5px 15px;color: $black;border-bottom: $code-border;position: relative;
	}
}
.pay-condition {
	font-size: $font-size-small;
	p {margin-bottom: 5px;}
}
.order-modal {
	padding-top: 50px;
}
.checkout-pay-page {
	padding-bottom: 60px;
}
.info-float {
	padding: 10px;
	border-top: 1px solid $primary-color;
}
.button-cta {
	background-color:$lighter-gray;
	padding: 10px 0;
	.button{margin-bottom: 0;}
}
.item-group {margin-bottom: 20px;}
.message-box {
	padding: 20px 0;
	background:$lighter-gray;
	p {margin-bottom: 5px;font-size: $font-size-small;}
}
.bank-detail {font-size: $font-size-small;}

// STATIC PAGE
.static-page {
	ul {
		li {list-style-type: disc;margin-left: 20px;}
	}
}

// 3. FOOTER
// ---------

footer {
	margin-top: 40px;
}
.footer-top {
	padding: 20px 0;
	background:$light-gray;
	text-align: center;
	a {padding: 20px;}
	span {display: inline-block;margin-right: 2px;margin-bottom: -2px;vertical-align: middle;}
	span.ic-mail {
		font-size: 20px;
		line-height: 32px;
		margin-bottom: -6px;
		border:1px solid $primary-color;
		width: 32px;
		height: 32px;
		@include border-radius(32px);
	}
}
.footer-bottom {
	padding: 20px 0;
	background:$primary-color;
	color:white;
	a {color: white;}
	.link-group {
		text-align: center;
		a {margin: 0 10px;}
	}
	.social-link {
		margin: 20px 0;
		a {
			margin: 5px;
			display: inline-block;
			height: 50px;
			overflow: hidden;
			.icon {
				width: 50px;
				height: 50px;
				border-radius: 50px;
				background-color: #3B5998;
				display: block;
				&.ic-ftw {background-color: #55ACEE;}
				&.ic-ig {background-color: #3F729B;}
				&:before {
					font-size: 1.6em;
					margin-top: 12px;
					display: inline-block;
				}
			}
		}
	}
}
.copyright {
	padding: 10px;
	background-color:darken($primary-color, 10%);
	color:white;
}

// 4. SIDE MENU
// ---------

.off-canvas.position-right {
	right:-86%;
    width:86%;
}
.is-open-right {
    transform: translateX(-86%);
}
.side-canvas-menu {
	.icon, .menu-list-title, .ava{
		display: inline-block;
		vertical-align: middle;
	}
	a {color: $black;}
	.top-user {
		a {display: block;}
		span {float: left;}
		padding: 10px;
	}
	.side-menu-list {
		padding-top: 10px;
		border-top: $code-border;
		margin-bottom: 20px;
		a {display: block;margin: 10px 0;}
		span {display: block;}
		.menu-item {font-size: 1rem;}
		.icon {
			height:40px;width: 40px;border-radius: 40px;
			color:white;background:$primary-color;
			font-size: 1.6rem;
			line-height: 48px;
			font-weight: normal;
			text-align: center;
			margin-right: 10px;
			position: relative;
			&:before {
				font-size: .9em;
				display:inline-block;
				vertical-align: top;
				margin-top: 9px;
			}
			&.l-paytren {
				background-image: url(../images/paytren.png);
				background-size: 40px 40px;
				background-repeat: no-repeat;
			}
		}
		.under {color:$dark-gray;font-size: 0.8rem;}
		.with-info {}
	}
}
.side-link-main {
	text-align: center;
	padding: 10px 0;
	border-top: $code-border;
	// border-bottom: $code-border;
	.icon:before {
		font-size: 24px;margin-bottom: -10px;
		margin: 5px 5px 0 0;
		display: inline-block;
	}
	a {color:$primary-color;}
}
.ava {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	img {width: 50px;height: 50px;border-radius: 50px;}
}
.off-canvas-filter-cat-content {
	padding-top: 20px;
	position: relative;
	.disabled {opacity: .5;}
}
.submit-group {
	margin-top:20px;	
	button, a {margin-bottom:10px;}
}

// Push Filter
.push-filter {
	a, span {font-size: $font-size-small;}
	.back {font-size: 1rem;}
	.label-area,.label-input-area,.button-area,.input-area {display: inline-block;vertical-align: middle;}
	.label-area {width: 32%;font-size: $font-size-small;}
	.button-area {width: 65%;text-align: right;color: $dark-gray;}
	.label-input-area {width: 38%;font-size: $font-size-small;}
	.input-area {
		text-align: right;
		width: 60%;font-size: $font-size-small;
		input {display: inline-block;width: 80%;margin-bottom: 0;}
		span {margin-right: 5px;}
	}
	.fblock {float: left;width: 100%;padding: 10px 0;border-bottom: $code-border;margin-bottom: 0;}
	.filter-action {
		position: relative;
		.filter-header {position: absolute;top:-60px;left: 0;}
		.push-opt {
			.ic-checkmark {display: none;}
			&.selected {
				.ic-checkmark {display: inline;}
				a {color:$blue;}
			}
		}
	}
}
.canvas-gray-header {
	height: 55px;
	background:$lighter-gray;
	border-bottom:1px solid $light-gray;
}
.close-button {z-index: 10;}
.with-right-arrow {position: relative;padding-right: 20px;}
.with-right-arrow:after {font-size: 0.9rem;vertical-align: middle;position: absolute;right: 0px;top: 50%;margin-top: -6px;}

// CUSTOM SLIDE MENU
// .off-canvas-wrapper-inner {
// 	min-height: 100vh;
// }
// .slide-menu {
//     display: none;
//     overflow-y: visible !important;
//     z-index: 1;
//     width: 85%;
//     background:white;
//     position: absolute;
// 	&.left-slide {
//     	left: -85%;
// 	}
// 	&.is-open {
// 		display: block;
// 		left: 0;
// 	}
// }
// .off-canvas-content {
// 	position: relative;
//     left: 0;
//     top: 0;
//     z-index: 2;
//     width: 100%;
//     min-height: 100%;
//     -webkit-transition: all 0.3s ease-in;
//     transition: all 0.3s ease-in;
//     &.slide-open {
//     	position: fixed;
//     	&.from-left {
//     		transform: translate3d(85%, 0px, 0px);
//     	}
//     }
// }
// .js-slide-exit {
// 	position: fixed;
//     z-index: 99999;
//     top: 0;
//     display: none;
//     width: 100%;
//     height: 100%;
//     opacity: .2;
//     background:white;
// }
// NOTIFICATION

// JPANEL MENU
.jPanelMenu-menu, .jPanelMenu-menu2, .jPanelMenu-menu3 {
	top: 0;
	min-height: 100vh;
}
.trans-reset {
	transform:none !important;
}
.menu-overlay {
	background:rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	&.hidden {display: none;}
}
.menu-position-right,
.menu-position-right2 {
	right: 0;
	top: 0;
}
.jPanelMenu-panel {
	&.posfx {position: fixed !important;}
}

.counter-notif {
	width:20px;
	height:20px;
	line-height: 20px;
	border-radius: 22px;
	color:white;
	background-color:$orange;
	position: absolute;right: -10px;top:-5px;
	text-align: center;
	font-size: .75rem;
}
.notif-list {
	li {
		position: relative;
		a {color: $dark-gray;}
		&.unread {
			a {color: $black;}
		}
	}
	.text-notif {
		font-size: $font-size-small;
		padding-right: 50px;
		.notif-title {font-weight: bold;}
		p {margin-bottom: 5px;}
	}
	.time-notif {
		font-size: $font-size-small;
		position: absolute;
		right: 15px;
		top: 10px;
		text-align: right;
	}
}

.stickers {
	$sticker-rad:40px;
	width: $sticker-rad;
	height: $sticker-rad;
	@include border-radius($sticker-rad);
	display: block;
	position: absolute;
	line-height: $sticker-rad;
	text-align: center;
	top: -5px;
	right: -5px;
	font-size: $font-size-smaller;
	&.s-hot {background-color:#C71D02;color:white}
	&.s-disc {background-color:#C71D02;color:white}
	&.s-ngabuburit {
		background:transparent url('../images/ic-ngabuburit.png') left top no-repeat;
		background-size: 40px 40px;
	}

}

.slick-slide {
	.stickers {
		top: 5px;
		right: 5px;
	}
}

.underm {
	padding: 20px;
	background:transparent url('../images/bg-underm.png') center bottom no-repeat;
	min-height: 600px;
	.img-logo {
		width: 100%;
		text-align: center;
	}
	h3 {text-align: center;margin-top: 10px;font-weight: bold;}
}

// NEW SEARCH SCREEN

.search-main-screen {
	display: none;
	header {padding-top: 15px;}
	.cancel-search {
		a {display: block;text-align: center;width: 60px;text-align: center;line-height: 32px;}
	}
	.suggestion-box {
		padding: 20px;
		margin-top: 0;
		height: 100%;
		min-height: 100vh;
		a {
			color:$black;
			.suggestion-fill {color:#8a8a8a;}
			small {color: $primary-color}
		}
		.filled-suggestion {
			li:first-child {border-top:$code-border;}
		}
	}
}

.fixed-bottom-btn {
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 1000;
	max-width: 640px;
}

.pdp-fixed-action {
	padding: 10px;
	background:#f1f1f1;
	a {
		display: block;
		padding: 13px;
		color:white;
		background-color:$primary-color;
		margin-bottom: 0;
		text-transform: uppercase;
	}
}
.fixed-pasang {
	padding: 10px 20px;
	background:white; 
	a {margin-bottom: 0;}
}