
body {
	background-color:#bafff1;
	background-image: url(../images/um-main.png),url(../images/um-bottom.png);
	background-position:  bottom center, bottom left;
	background-repeat: no-repeat,repeat-x;
}
.off-canvas-wrapper {
	background-color: transparent;
}
.text-wrapper {
	background:rgba(255,255,255,.9);
	border-radius:10px;
	padding: 20px;
}
.underm {
	min-height: 100vh;
	background: transparent;
}
.main-um-image {
	// background-image: url(../images/um-main.png);
	// background-position: bottom left;
	// background-repeat: no-repeat;
	// display: block;
	// background-size: 70%;
}